<div class="wrapper1">
  <h1 class="display-1">South Philly Woodcraft</h1>
  <h2>Creative Custom Wood Designs</h2>
    <p class="lead">
      Test: We are a new small business in South Philly specializing in hand crafted furniture made from Walnut, Maple, Cherry and other fine hardwoods from a Pennsylvania sawmill. We specialize in one-of-a-kind, live-edge designs.
    </p>

    <p>
      We believe that every table or bench top is “hidden” in the tree slab waiting to be discovered and built. We preserve the natural beauty of the tree by not tampering with the contour and character as it was created, so that every piece is unique.
    </p>

    <p>
      We believe wood is God’s gift to the craftsman as it willingly yields its properties to our creative abilities and allows for limitless designs.
    </p>

    <p>
      What started as a hobby in our garage quickly outgrew the space needed to create and display our products, so we have moved into a 1500 sq. ft. shop and showroom in the heart of the East Passyunk neighborhood.
    </p>
  </div>
