<!-- Turn this into an image gallery? -->

<div class="wrapper1">
  <h1 class="display-1 h1-margin-top">Gallery</h1>
  <p>Our gallery is growing each week! Stop by to see what's in the hopper!</p>
  <div style="display:block" class="image-margin">
    <img class="rounded float-left img-fluid mx-auto" style="width:200px;" src="https://southphillywoodcraftblog.files.wordpress.com/2018/04/img_8635.jpg" alt="checker or chess board">
    <img class="rounded float-left img-fluid mx-auto" style="width:200px;" src="https://southphillywoodcraftblog.files.wordpress.com/2018/04/img_8636.jpg" alt="heart table">
  <!-- </div> -->

  <!-- <div style="display:block" class=""> -->
    <img class="rounded float-left img-fluid mx-auto" style="width:200px;" src="images/hairpin-leg-table.jpg" alt="slab bench from old church pew legs">
    <img class="rounded float-left img-fluid mx-auto" style="width:200px;" src="https://southphillywoodcraftblog.files.wordpress.com/2018/04/img_8639.jpg" alt="cutting board">
  </div>
</div>
