

<!-- <form class="" action="/completed" method="post">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="">
  <label for="last_name">last Name</label>
  <input type="text" name="last_name" value="">
  <label for="email">Email</label>
  <input type="text" name="email" value="">
  <label for="company">Company</label>
  <input type="text" name="company" value="">
  <input type="submit" name="" value="Submit">
</form> -->

<div class="wrapper1">

  <h1 class="h1-margin-top">Sign Up For Our Monthly Newsletter!</h1>

  <form class="" action="/completed" method="post">

    <div class="form-row">

      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" name="first_name" placeholder="First name">
      </div>

      <div class="col-md-4 mb-3">
        <input type="text" class="form-control" name="last_name" placeholder="Last name">
      </div>

      <div class="col-md-5 mb-3">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" value="">
      </div>

      <div class="col-md-5 mb-3">
        <label for="company">Company</label>
        <input type="text"  class="form-control" name="company" value="">
      </div>

      <div class="col-md-6 mb-3">
        <input type="submit" name="" value="Submit">
      </div>

    </div>
  </form>
</div>
